<br>
Instructions
<ul class="index">
<li>Five questions will be there.</li>
<li>Each question has four options.</li>
<li>You cant make changes to viewed questions.</li>
<li> <div class="box bluec"></div>Not visited.</li>
<li> <div class="box greenc"></div>Visited and Answered.</li>
<li> <div class="box redc"></div>Visited and Unanswered.</li>
</ul>
{{#link-to 'questions' 1}}<button class="start">Start</button>{{/link-to}}
{{outlet}}
